.section-title{
  color: white;
  font-size: 20px;
}
.new-article-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.new-article-section{
  color: white;
  margin: 0px;
  box-sizing: border-box;
}
.title-section{
  width: 50%;
  text-align: center;
}
.title-section input{
  width: 90%;
}
.category-section{
  width: 30%;
  height: 40px;
  /*text-align: center;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 1px 1px 11px #330033;
  background: #58B14C;*/
}
.category-section select{
  -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 30px;
}
.category-section input{
  height: 30px;
}
.featured-section{
  width: 20%;
  text-align: center;
}
.new-article-title{
  border-radius: 10px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.article-editor{
  width: 98%;
  margin: auto;
}
.updateAvatar{
  border: 0px;
  height: 50px;
  color: rgba(255, 255, 255, 0.1);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(0,0,0,0.3);
  width: 20%
}
.updateAvatar:hover{
  color: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.4);
}
.imageUpload{
  width: 90%;
  margin: auto;
}
.imageUpload .input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.imageUpload .input-file + label {
  color: rgba(255, 255, 255, 0.1);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  top:6px;
  font-size: 1.25em;
  font-weight: 700;
  background-color: rgba(0,0,0,0.3);
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
  text-align: center;
  border-right: 2px solid rgba(255,255,255,0.5);
}

.imageUpload .input-file + label:hover {
  color: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.image-preview{
  width: 100%;
  text-align: center;
}
.set-featured {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  border: 0px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
